---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

# 保护宏定义不被换行
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None

# 不重新排序头文件
SortIncludes: false

# 保护宏定义
IndentPPDirectives: None
